@model ReservaEspectaculo.Models.Funcion

@{
    ViewData["Title"] = "Eliminar";
}


<h3>¿Está seguro que desea eliminar esta función?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButacasDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButacasDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Numero)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncionId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fas fa-undo"></i></a>
    </form>
</div>
