@model IEnumerable<ReservaEspectaculo.Models.Reserva>

@{
    ViewData["Title"] = "Ver Reservas";
}

<h3>Reservas pasadas</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion.Pelicula.Titulo)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.CantidadButacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion.Fecha)
            </th>

        </tr>
    </thead>
    <tbody>      
        
        @foreach (var item in Model)
        {

            @if (item.Funcion.Fecha < DateTime.Today)
            {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion.Pelicula.Titulo)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.CantidadButacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion.Fecha)
            </td>
        </tr>
            }
        }

    
    </tbody>
</table>

<h3>Reservas futuras</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion.Pelicula.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadButacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion.Fecha)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            @if (item.Funcion.Fecha >= DateTime.Today)
            {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion.Pelicula.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadButacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion.Fecha)
            </td>

        </tr>
            }
        }
    </tbody>
</table>