@model ReservaEspectaculo.Models.Sala

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles Sala</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSala.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadButacas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadButacas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalaId"><i class="fas fa-pen-square"></i></a> |
    <a asp-action="Index"><i class="fas fa-undo"></i></a>
</div>
