@model IEnumerable<ReservaEspectaculo.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Peliculas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i></a>
    <a asp-action="ElegirMesRecaudacion" class="btn btn-primary"><i class="fas fa-cash-register"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PeliculaId"><i class="fas fa-pen-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.PeliculaId"><i class="fas fa-search"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.PeliculaId"><i class="fas fa-trash-alt"></i></a> 
                @*<a asp-action="BuscarBalance" asp-route-id="@item.PeliculaId"><i class="fas fa-dollar-sign"></i></a>*@
            </td>
        </tr>
}
    </tbody>
</table>
